swagger: '2.0'
info:
  title: eForms API
  version: 2.0.0
  description: The eForms API is a FHIR API for creating and updating QuestionnaireResponses
host: provider.tbd.ehealthontario.ca
basePath: /api/fhir/r4/eForms
schemes:
  - https
produces: ["application/fhir+json","application/fhir+xml"]
paths:
  /Communication:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    - description: json (default) or xml
      in: query
      name: _format
      required: false
      type: string   
    get:
      summary: Retreive a list of Quesitonnaire Resources
      description: |
        This interaction searches for a list of published form templates
      operationId: CommunicationSearchByGet
      parameters:
      - name: identifier
        in: query
        description: Unique identifier
        required: false
        type: string
      - name: subject
        in: query
        description: Focus of message
        required: false
        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false
        type: string
      - name: instantiates-canonical
        in: query
        description: Instantiates FHIR protocol or definition
        required: false
        type: string
      - name: part-of
        in: query
        description: Part of this action
        required: false
        type: string
      - name: received
        in: query
        description: When received
        required: false
        type: string
      - name: encounter
        in: query
        description: Encounter created as part of
        required: false
        type: string
      - name: medium
        in: query
        description: A channel of communication
        required: false
        type: string
      - name: sent
        in: query
        description: When sent
        required: false
        type: string
      - name: based-on
        in: query
        description: Request fulfilled by this communication
        required: false
        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false
        type: string
      - name: sender
        in: query
        description: Message sender
        required: false
        type: string
      - name: patient
        in: query
        description: Focus of message
        required: false
        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false
        type: string
      - name: recipient
        in: query
        description: Message recipient
        required: false
        type: string
      - name: instantiates-uri
        in: query
        description: Instantiates external protocol or definition
        required: false
        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false
        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false
        type: string
      - name: category
        in: query
        description: Message category
        required: false
        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false
        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false
        type: string
      - name: status
        in: query
        description: preparation | in-progress | not-done | on-hold | stopped | completed
          | entered-in-error | unknown
        required: false

        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    post:
      summary: Create a Communication Resource
      description: |
        This interaction creates a Communication resource based on the submitted data/body
      operationId: CommunicationCreate
      parameters:
        - description: The Communication Resource to be created
          in: body
          name: body
          required: true
          schema:
            title: FHIR Communication Resource

      responses:
        '201':
          description: A new Communication is submitted. Returns the created resource.
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '409':
          description: Duplicate resource
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Communication/{id}:
    get:
      summary: Retrieve a Communication resources based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]
      description: |
        This is a FHIR read of a Quesitonnaire based on its ID
      operationId: CommunicationRead
      parameters:
        - description: The id of the FHIR resource
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    put:
      summary: Update/replace a Communication resource
      description: |
        This interaction updates/replaces a Communication resource based on the submitted data/body
      operationId: CommunicationUpdate
      parameters:
        - description: The id of the Communication resource
          in: path
          name: id
          required: true
          type: string
        - description: The bundle contains a Communication to be updated
          in: body
          name: body
          required: true
          schema:
            title: FHIR Communication Resource
      responses:
        '200':
          description:   An update to an existing Communication bundle is submitted in order to invalidate an existing Communication. Returns the updated resource
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    patch:
      summary: "instance-patch: Patch a Communication ID"
      parameters:
      - name: id
        in: path
        description: The Communication Resource ID
        required: true
        minimum: 1
        type: string
      responses:
        "200":
          description: Success
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Communication/{id}/_history/{vid}:
    get:
      summary: Read a version specific Communication resource based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]      
      description:  This interaction retireve a historical Communication resource
      operationId: CommunicationVRead
      parameters:
        - description: The id of the Communication resource
          in: path
          name: id
          required: true
          type: string
        - description: The history version id of the Communication resource
          in: path
          name: vid
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Communication/_search:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    post:
      summary: Search for Communications using POST _search 
      description: This interaction searches for Communication Resources
      operationId: CommunicationSearchByPost
      parameters:
      - name: identifier
        in: query
        description: Unique identifier
        required: false

        type: string
      - name: subject
        in: query
        description: Focus of message
        required: false

        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false

        type: string
      - name: instantiates-canonical
        in: query
        description: Instantiates FHIR protocol or definition
        required: false

        type: string
      - name: part-of
        in: query
        description: Part of this action
        required: false

        type: string
      - name: received
        in: query
        description: When received
        required: false
        type: string
      - name: encounter
        in: query
        description: Encounter created as part of
        required: false

        type: string
      - name: medium
        in: query
        description: A channel of communication
        required: false

        type: string
      - name: sent
        in: query
        description: When sent
        required: false
        type: string
      - name: based-on
        in: query
        description: Request fulfilled by this communication
        required: false

        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false

        type: string
      - name: sender
        in: query
        description: Message sender
        required: false

        type: string
      - name: patient
        in: query
        description: Focus of message
        required: false

        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false

        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false

        type: string
      - name: recipient
        in: query
        description: Message recipient
        required: false

        type: string
      - name: instantiates-uri
        in: query
        description: Instantiates external protocol or definition
        required: false

        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false

        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false

        type: string
      - name: category
        in: query
        description: Message category
        required: false

        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false

        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false

        type: string
      - name: status
        in: query
        description: preparation | in-progress | not-done | on-hold | stopped | completed | entered-in-error | unknown
        required: false
        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /DocumentReference:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    - description: json (default) or xml
      in: query
      name: _format
      required: false
      type: string   
    get:
      summary: Retreive a list of Quesitonnaire Resources
      description: |
        This interaction searches for a list of published form templates
      operationId: DocumentReferenceSearchByGet
      parameters:
      - name: date
        in: query
        description: When this document reference was created
        required: false
        type: string
      - name: subject
        in: query
        description: Who/what is the subject of the document
        required: false
        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string
      - name: description
        in: query
        description: Human-readable description
        required: false

        type: string
      - name: language
        in: query
        description: Human language of the content (BCP-47)
        required: false

        type: string
      - name: type
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ allergy | intolerance - Underlying mechanism (if known)\r\n* [Composition](composition.html):\
          \ Kind of composition (LOINC if possible)\r\n* [DocumentManifest](documentmanifest.html):\
          \ Kind of document set\r\n* [DocumentReference](documentreference.html):\
          \ Kind of document (LOINC if possible)\r\n* [Encounter](encounter.html):\
          \ Specific type of encounter\r\n* [EpisodeOfCare](episodeofcare.html): Type/class\
          \  - e.g. specialist referral, disease management\r\n"
        required: false

        type: string
      - name: relation
        in: query
        description: replaces | transforms | signs | appends
        required: false

        type: string
      - name: setting
        in: query
        description: Additional details about where the content was created (e.g.
          clinical specialty)
        required: false

        type: string
      - name: related
        in: query
        description: Related identifiers or resources
        required: false

        type: string
      - name: patient
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care\
          \ plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n*\
          \ [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\
          \n* [Composition](composition.html): Who and/or what the composition is\
          \ about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html):\
          \ Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated\
          \ patient\r\n* [DeviceRequest](devicerequest.html): Individual the service\
          \ is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search\
          \ by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html):\
          \ The subject of the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Who/what is the subject of the document\r\n* [Encounter](encounter.html):\
          \ The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ The identity of a subject to list family member history items for\r\n\
          * [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html):\
          \ Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html):\
          \ Who the study is about\r\n* [Immunization](immunization.html): The patient\
          \ for the vaccination record\r\n* [List](list.html): If all resources have\
          \ the same subject\r\n* [MedicationAdministration](medicationadministration.html):\
          \ The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html):\
          \ The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html):\
          \ Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html):\
          \ Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html):\
          \ The identity of the person who requires the diet, formula or nutritional\
          \ supplement\r\n* [Observation](observation.html): The subject that the\
          \ observation is about (if patient)\r\n* [Procedure](procedure.html): Search\
          \ by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what\
          \ does assessment apply to?\r\n* [ServiceRequest](servicerequest.html):\
          \ Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html):\
          \ Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html):\
          \ The identity of a patient to list dispenses for\r\n"
        required: false

        type: string
      - name: event
        in: query
        description: Main clinical acts documented
        required: false

        type: string
      - name: authenticator
        in: query
        description: Who/what authenticated the document
        required: false

        type: string
      - name: identifier
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ External ids for this item\r\n* [CarePlan](careplan.html): External Ids\
          \ for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\
          \n* [Composition](composition.html): Version-independent identifier for\
          \ the Composition\r\n* [Condition](condition.html): A unique identifier\
          \ of the condition record\r\n* [Consent](consent.html): Identifier for this\
          \ record (external references)\r\n* [DetectedIssue](detectedissue.html):\
          \ Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html):\
          \ Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ An identifier for the report\r\n* [DocumentManifest](documentmanifest.html):\
          \ Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s)\
          \ by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ A search by a record identifier\r\n* [Goal](goal.html): External Ids for\
          \ this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the\
          \ Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html):\
          \ Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html):\
          \ Return nutrition orders with this external identifier\r\n* [Observation](observation.html):\
          \ The unique id for a particular observation\r\n* [Procedure](procedure.html):\
          \ A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html):\
          \ Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html):\
          \ Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html):\
          \ External identifier\r\n* [SupplyRequest](supplyrequest.html): Business\
          \ Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this external identifier\r\n"
        required: false

        type: string
      - name: period
        in: query
        description: Time of service that is being documented
        required: false
        type: string
      - name: custodian
        in: query
        description: Organization which maintains the document
        required: false

        type: string
      - name: author
        in: query
        description: Who and/or what authored the document
        required: false

        type: string
      - name: format
        in: query
        description: Format/content rules for the document
        required: false

        type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false

        type: string
      - name: encounter
        in: query
        description: "Multiple Resources: \r\n\r\n* [Composition](composition.html):\
          \ Context of the Composition\r\n* [DeviceRequest](devicerequest.html): Encounter\
          \ during which request was created\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The Encounter when the order was made\r\n* [DocumentReference](documentreference.html):\
          \ Context of the document  content\r\n* [Flag](flag.html): Alert relevant\
          \ during encounter\r\n* [List](list.html): Context in which list created\r\
          \n* [NutritionOrder](nutritionorder.html): Return nutrition orders with\
          \ this encounter identifier\r\n* [Observation](observation.html): Encounter\
          \ related to the observation\r\n* [Procedure](procedure.html): Encounter\
          \ created as part of\r\n* [RiskAssessment](riskassessment.html): Where was\
          \ assessment performed?\r\n* [ServiceRequest](servicerequest.html): An encounter\
          \ in which this request is made\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this encounter identifier\r\n"
        required: false

        type: string
      - name: contenttype
        in: query
        description: "Mime type of the content, with charset etc."
        required: false

        type: string
      - name: security-label
        in: query
        description: Document security-tags
        required: false

        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false

        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false

        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false

        type: string
      - name: location
        in: query
        description: Uri where the data can be found
        required: false

        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false

        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false

        type: string
      - name: category
        in: query
        description: Categorization of document
        required: false

        type: string
      - name: relatesto
        in: query
        description: Target of the relationship
        required: false

        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false

        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false

        type: string
      - name: facility
        in: query
        description: Kind of facility where patient was seen
        required: false

        type: string
      - name: status
        in: query
        description: current | superseded | entered-in-error
        required: false

        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    post:
      summary: Create a DocumentReference Resource
      description: |
        This interaction creates a DocumentReference resource based on the submitted data/body
      operationId: DocumentReferenceCreate
      parameters:
        - description: The DocumentReference Resource to be created
          in: body
          name: body
          required: true
          schema:
            title: FHIR DocumentReference resource
      responses:
        '201':
          description: A new DocumentReference is submitted. Returns the created resource.
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '409':
          description: Duplicate resource
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /DocumentReference/{id}:
    get:
      summary: Retrieve a DocumentReference resources based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]
      description: |
        This is a FHIR read of a Quesitonnaire based on its ID
      operationId: DocumentReferenceRead
      parameters:
        - description: The id of the FHIR resource
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    put:
      summary: Update/replace a DocumentReference resource
      description: |
        This interaction updates/replaces a DocumentReference resource based on the submitted data/body
      operationId: DocumentReferenceUpdate
      parameters:
        - description: The id of the DocumentReference resource
          in: path
          name: id
          required: true
          type: string
        - description: The bundle contains a DocumentReference to be updated
          in: body
          name: body
          required: true
          schema: 
            title: FHIR DocumentReference resource
      responses:
        '200':
          description:   An update to an existing DocumentReference bundle is submitted in order to invalidate an existing DocumentReference. Returns the updated resource
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    patch:
      summary: "instance-patch: Patch a DocumentReference ID"
      parameters:
      - name: id
        in: path
        description: The DocumentReference Resource ID
        required: true
        minimum: 1
        type: string
      responses:
        "200":
          description: Success
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /DocumentReference/{id}/_history/{vid}:
    get:
      summary: Read a version specific DocumentReference resource based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]      
      description:  This interaction retireve a historical DocumentReference resource
      operationId: DocumentReferenceVRead
      parameters:
        - description: The id of the DocumentReference resource
          in: path
          name: id
          required: true
          type: string
        - description: The history version id of the DocumentReference resource
          in: path
          name: vid
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /DocumentReference/_search:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    post:
      summary: Search for DocumentReferences using POST _search 
      description: This interaction searches for DocumentReference Resources
      operationId: DocumentReferenceSearchByPost
      parameters:
      - name: date
        in: query
        description: When this document reference was created
        required: false
        type: string
      - name: subject
        in: query
        description: Who/what is the subject of the document
        required: false
        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string
      - name: description
        in: query
        description: Human-readable description
        required: false

        type: string
      - name: language
        in: query
        description: Human language of the content (BCP-47)
        required: false

        type: string
      - name: type
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ allergy | intolerance - Underlying mechanism (if known)\r\n* [Composition](composition.html):\
          \ Kind of composition (LOINC if possible)\r\n* [DocumentManifest](documentmanifest.html):\
          \ Kind of document set\r\n* [DocumentReference](documentreference.html):\
          \ Kind of document (LOINC if possible)\r\n* [Encounter](encounter.html):\
          \ Specific type of encounter\r\n* [EpisodeOfCare](episodeofcare.html): Type/class\
          \  - e.g. specialist referral, disease management\r\n"
        required: false

        type: string
      - name: relation
        in: query
        description: replaces | transforms | signs | appends
        required: false

        type: string
      - name: setting
        in: query
        description: Additional details about where the content was created (e.g.
          clinical specialty)
        required: false

        type: string
      - name: related
        in: query
        description: Related identifiers or resources
        required: false

        type: string
      - name: patient
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care\
          \ plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n*\
          \ [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\
          \n* [Composition](composition.html): Who and/or what the composition is\
          \ about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html):\
          \ Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated\
          \ patient\r\n* [DeviceRequest](devicerequest.html): Individual the service\
          \ is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search\
          \ by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html):\
          \ The subject of the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Who/what is the subject of the document\r\n* [Encounter](encounter.html):\
          \ The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ The identity of a subject to list family member history items for\r\n\
          * [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html):\
          \ Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html):\
          \ Who the study is about\r\n* [Immunization](immunization.html): The patient\
          \ for the vaccination record\r\n* [List](list.html): If all resources have\
          \ the same subject\r\n* [MedicationAdministration](medicationadministration.html):\
          \ The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html):\
          \ The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html):\
          \ Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html):\
          \ Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html):\
          \ The identity of the person who requires the diet, formula or nutritional\
          \ supplement\r\n* [Observation](observation.html): The subject that the\
          \ observation is about (if patient)\r\n* [Procedure](procedure.html): Search\
          \ by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what\
          \ does assessment apply to?\r\n* [ServiceRequest](servicerequest.html):\
          \ Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html):\
          \ Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html):\
          \ The identity of a patient to list dispenses for\r\n"
        required: false

        type: string
      - name: event
        in: query
        description: Main clinical acts documented
        required: false

        type: string
      - name: authenticator
        in: query
        description: Who/what authenticated the document
        required: false

        type: string
      - name: identifier
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ External ids for this item\r\n* [CarePlan](careplan.html): External Ids\
          \ for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\
          \n* [Composition](composition.html): Version-independent identifier for\
          \ the Composition\r\n* [Condition](condition.html): A unique identifier\
          \ of the condition record\r\n* [Consent](consent.html): Identifier for this\
          \ record (external references)\r\n* [DetectedIssue](detectedissue.html):\
          \ Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html):\
          \ Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ An identifier for the report\r\n* [DocumentManifest](documentmanifest.html):\
          \ Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s)\
          \ by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ A search by a record identifier\r\n* [Goal](goal.html): External Ids for\
          \ this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the\
          \ Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html):\
          \ Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html):\
          \ Return nutrition orders with this external identifier\r\n* [Observation](observation.html):\
          \ The unique id for a particular observation\r\n* [Procedure](procedure.html):\
          \ A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html):\
          \ Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html):\
          \ Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html):\
          \ External identifier\r\n* [SupplyRequest](supplyrequest.html): Business\
          \ Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this external identifier\r\n"
        required: false

        type: string
      - name: period
        in: query
        description: Time of service that is being documented
        required: false
        type: string
      - name: custodian
        in: query
        description: Organization which maintains the document
        required: false

        type: string
      - name: author
        in: query
        description: Who and/or what authored the document
        required: false

        type: string
      - name: format
        in: query
        description: Format/content rules for the document
        required: false

        type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false

        type: string
      - name: encounter
        in: query
        description: "Multiple Resources: \r\n\r\n* [Composition](composition.html):\
          \ Context of the Composition\r\n* [DeviceRequest](devicerequest.html): Encounter\
          \ during which request was created\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The Encounter when the order was made\r\n* [DocumentReference](documentreference.html):\
          \ Context of the document  content\r\n* [Flag](flag.html): Alert relevant\
          \ during encounter\r\n* [List](list.html): Context in which list created\r\
          \n* [NutritionOrder](nutritionorder.html): Return nutrition orders with\
          \ this encounter identifier\r\n* [Observation](observation.html): Encounter\
          \ related to the observation\r\n* [Procedure](procedure.html): Encounter\
          \ created as part of\r\n* [RiskAssessment](riskassessment.html): Where was\
          \ assessment performed?\r\n* [ServiceRequest](servicerequest.html): An encounter\
          \ in which this request is made\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this encounter identifier\r\n"
        required: false

        type: string
      - name: contenttype
        in: query
        description: "Mime type of the content, with charset etc."
        required: false

        type: string
      - name: security-label
        in: query
        description: Document security-tags
        required: false

        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false

        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false

        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false

        type: string
      - name: location
        in: query
        description: Uri where the data can be found
        required: false

        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false

        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false

        type: string
      - name: category
        in: query
        description: Categorization of document
        required: false

        type: string
      - name: relatesto
        in: query
        description: Target of the relationship
        required: false

        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false

        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false

        type: string
      - name: facility
        in: query
        description: Kind of facility where patient was seen
        required: false

        type: string
      - name: status
        in: query
        description: current | superseded | entered-in-error
        required: false

        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Organization:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    - description: json (default) or xml
      in: query
      name: _format
      required: false
      type: string   
    get:
      summary: Retreive a list of Quesitonnaire Resources
      description: |
        This interaction searches for a list of published form templates
      operationId: OrganizationSearchByGet
      parameters:
      - name: partof
        in: query
        description: An organization of which this organization forms a part
        required: false

        type: string
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's
          identifier)
        required: false
        type: string

      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        required: false
        type: string

      - name: address-state
        in: query
        description: A state specified in an address
        required: false
        type: string

      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string

      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false
        type: string

      - name: active
        in: query
        description: Is the Organization record active
        required: false
        type: string

      - name: type
        in: query
        description: A code for the type of organization
        required: false
        type: string

      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        required: false
        type: string

      - name: address-country
        in: query
        description: A country specified in an address
        required: false
        type: string

      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          the organization
        required: false
        type: string

      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        required: false
        type: string

      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false
        type: string

      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        type: string

      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false
        type: string

      - name: name
        in: query
        description: A portion of the organization's name or alias
        required: false
        type: string

      - name: address-use
        in: query
        description: A use code specified in an address
        required: false
        type: string

      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false
        type: string

      - name: _id
        in: query
        description: The ID of the resource
        required: false
        type: string

      - name: address-city
        in: query
        description: A city specified in an address
        required: false
        type: string

      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false
        type: string

      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext search
        required: false
        type: string

      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    post:
      summary: Create a Organization Resource
      description: |
        This interaction creates a Organization resource based on the submitted data/body
      operationId: OrganizationCreate
      parameters:
        - description: The Organization Resource to be created
          in: body
          name: body
          required: true
          schema:
            title: FHIR Organization resource
      responses:
        '201':
          description: A new Organization is submitted. Returns the created resource.
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '409':
          description: Duplicate resource
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Organization/{id}:
    get:
      summary: Retrieve a Organization resources based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]
      description: |
        This is a FHIR read of a Quesitonnaire based on its ID
      operationId: OrganizationRead
      parameters:
        - description: The id of the FHIR resource
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    put:
      summary: Update/replace a Organization resource
      description: |
        This interaction updates/replaces a Organization resource based on the submitted data/body
      operationId: OrganizationUpdate
      parameters:
        - description: The id of the Organization resource
          in: path
          name: id
          required: true
          type: string
        - description: The bundle contains a Organization to be updated
          in: body
          name: body
          required: true
          schema:
            title: FHIR Bundle with Organization resource
      responses:
        '200':
          description:   An update to an existing Organization bundle is submitted in order to invalidate an existing Organization. Returns the updated resource
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    patch:
      summary: "instance-patch: Patch a Organization ID"
      parameters:
      - name: id
        in: path
        description: The Organization Resource ID
        required: true
        minimum: 1
        type: string
     
      responses:
        "200":
          description: Success
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Organization/{id}/_history/{vid}:
    get:
      summary: Read a version specific Organization resource based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]      
      description:  This interaction retireve a historical Organization resource
      operationId: OrganizationVRead
      parameters:
        - description: The id of the Organization resource
          in: path
          name: id
          required: true
          type: string
        - description: The history version id of the Organization resource
          in: path
          name: vid
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Organization/_search:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    post:
      summary: Search for Organizations using POST _search 
      description: This interaction searches for Organization Resources
      operationId: OrganizationSearchByPost
      parameters:
      - name: partof
        in: query
        description: An organization of which this organization forms a part
        required: false

        type: string
      - name: identifier
        in: query
        description: Any identifier for the organization (not the accreditation issuer's
          identifier)
        required: false

        type: string
      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        required: false

        type: string
      - name: address-state
        in: query
        description: A state specified in an address
        required: false

        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string

      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false

        type: string
      - name: active
        in: query
        description: Is the Organization record active
        required: false

        type: string
      - name: type
        in: query
        description: A code for the type of organization
        required: false

        type: string
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        required: false

        type: string
      - name: address-country
        in: query
        description: A country specified in an address
        required: false

        type: string
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for
          the organization
        required: false

        type: string
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        required: false

        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false

        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false

        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false

        type: string
      - name: name
        in: query
        description: A portion of the organization's name or alias
        required: false

        type: string
      - name: address-use
        in: query
        description: A use code specified in an address
        required: false

        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false

        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false

        type: string
      - name: address-city
        in: query
        description: A city specified in an address
        required: false

        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false

        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false

        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Patient:
    parameters:
    - description: The client generated request ID
      in: header
      name: X-Request-Id
      type: string
      required: false
    - description: json (default) or xml
      in: query
      name: _format
      required: false
      type: string   
    get:
      summary: Retreive a list of Quesitonnaire Resources
      description: |
        This interaction searches for a list of published form templates
      operationId: PatientSearchByGet
      parameters:
      - name: birthdate
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): The patient's\
          \ date of birth\r\n* [Person](person.html): The person's date of birth\r\
          \n* [RelatedPerson](relatedperson.html): The Related Person's date of birth\r\
          \n"
        required: false
        type: string

      - name: deceased
        in: query
        description: "This patient has been marked as deceased, or as a death date\
          \ entered"
        required: false

        type: string
      - name: address-state
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A state\
          \ specified in an address\r\n* [Person](person.html): A state specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A state specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A state specified\
          \ in an address\r\n"
        required: false

        type: string
      - name: gender
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): Gender\
          \ of the patient\r\n* [Person](person.html): The gender of the person\r\n\
          * [Practitioner](practitioner.html): Gender of the practitioner\r\n* [RelatedPerson](relatedperson.html):\
          \ Gender of the related person\r\n"
        required: false

        type: string
      - name: _lastUpdated
        in: query
        description: Only return resources which were last updated as specified by
          the given range
        required: false
        type: string

      - name: link
        in: query
        description: All patients linked to the given patient
        required: false

        type: string
      - name: language
        in: query
        description: Language code (irrespective of use value)
        required: false

        type: string
      - name: address-country
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A country\
          \ specified in an address\r\n* [Person](person.html): A country specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A country specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A country specified\
          \ in an address\r\n"
        required: false

        type: string
      - name: death-date
        in: query
        description: The date of death has been provided and satisfies this search
          value
        required: false
        type: string

      - name: phonetic
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of either family or given name using some kind of phonetic matching algorithm\r\
          \n* [Person](person.html): A portion of name using some kind of phonetic\
          \ matching algorithm\r\n* [Practitioner](practitioner.html): A portion of\
          \ either family or given name using some kind of phonetic matching algorithm\r\
          \n* [RelatedPerson](relatedperson.html): A portion of name using some kind\
          \ of phonetic matching algorithm\r\n"
        required: false

        type: string
      - name: telecom
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): The value\
          \ in any kind of telecom details of the patient\r\n* [Person](person.html):\
          \ The value in any kind of contact\r\n* [Practitioner](practitioner.html):\
          \ The value in any kind of contact\r\n* [PractitionerRole](practitionerrole.html):\
          \ The value in any kind of contact\r\n* [RelatedPerson](relatedperson.html):\
          \ The value in any kind of contact\r\n"
        required: false

        type: string
      - name: address-city
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A city\
          \ specified in an address\r\n* [Person](person.html): A city specified in\
          \ an address\r\n* [Practitioner](practitioner.html): A city specified in\
          \ an address\r\n* [RelatedPerson](relatedperson.html): A city specified\
          \ in an address\r\n"
        required: false

        type: string
      - name: email
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value\
          \ in an email contact\r\n* [Person](person.html): A value in an email contact\r\
          \n* [Practitioner](practitioner.html): A value in an email contact\r\n*\
          \ [PractitionerRole](practitionerrole.html): A value in an email contact\r\
          \n* [RelatedPerson](relatedperson.html): A value in an email contact\r\n"
        required: false

        type: string
      - name: identifier
        in: query
        description: A patient identifier
        required: false

        type: string
      - name: given
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of the given name of the patient\r\n* [Practitioner](practitioner.html):\
          \ A portion of the given name\r\n"
        required: false

        type: string
      - name: address
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A server\
          \ defined search that may match any of the string fields in the Address,\
          \ including line, city, district, state, country, postalCode, and/or text\r\
          \n* [Person](person.html): A server defined search that may match any of\
          \ the string fields in the Address, including line, city, district, state,\
          \ country, postalCode, and/or text\r\n* [Practitioner](practitioner.html):\
          \ A server defined search that may match any of the string fields in the\
          \ Address, including line, city, district, state, country, postalCode, and/or\
          \ text\r\n* [RelatedPerson](relatedperson.html): A server defined search\
          \ that may match any of the string fields in the Address, including line,\
          \ city, district, state, country, postalCode, and/or text\r\n"
        required: false

        type: string
      - name: general-practitioner
        in: query
        description: "Patient's nominated general practitioner, not the organization\
          \ that manages the record"
        required: false

        type: string
      - name: _security
        in: query
        description: Search for resources which have the given security labels
        required: false

        type: string
      - name: active
        in: query
        description: Whether the patient record is active
        required: false

        type: string
      - name: address-postalcode
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A postalCode\
          \ specified in an address\r\n* [Person](person.html): A postal code specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A postalCode specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A postal code\
          \ specified in an address\r\n"
        required: false

        type: string
      - name: _profile
        in: query
        description: Search for resources which have the given profile
        required: false

        type: string
      - name: phone
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value\
          \ in a phone contact\r\n* [Person](person.html): A value in a phone contact\r\
          \n* [Practitioner](practitioner.html): A value in a phone contact\r\n* [PractitionerRole](practitionerrole.html):\
          \ A value in a phone contact\r\n* [RelatedPerson](relatedperson.html): A\
          \ value in a phone contact\r\n"
        required: false

        type: string
      - name: organization
        in: query
        description: The organization that is the custodian of the patient record
        required: false

        type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false

        type: string
      - name: _tag
        in: query
        description: Search for resources which have the given tag
        required: false

        type: string
      - name: address-use
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A use\
          \ code specified in an address\r\n* [Person](person.html): A use code specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A use code specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A use code specified\
          \ in an address\r\n"
        required: false

        type: string
      - name: name
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the HumanName, including family, give, prefix, suffix, suffix, and/or\
          \ text"
        required: false

        type: string
      - name: _source
        in: query
        description: Search for resources which have the given source value (Resource.meta.source)
        required: false

        type: string
      - name: _id
        in: query
        description: The ID of the resource
        required: false

        type: string
      - name: family
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of the family name of the patient\r\n* [Practitioner](practitioner.html):\
          \ A portion of the family name\r\n"
        required: false

        type: string
      - name: _content
        in: query
        description: Search the contents of the resource's data using a fulltext search
        required: false

        type: string
      - name: _text
        in: query
        description: Search the contents of the resource's narrative using a fulltext
          search
        required: false

        type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches 
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    post:
      summary: Create a Patient Resource
      description: |
        This interaction creates a Patient resource based on the submitted data/body
      operationId: PatientCreate
      parameters:
        - description: The Patient Resource to be created
          in: body
          name: body
          required: true
          schema:
            title: FHIR Patient resource
      responses:
        '201':
          description: A new Patient is submitted. Returns the created resource.
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '409':
          description: Duplicate resource
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
  /Patient/{id}:
    get:
      summary: Retrieve a Patient resources based on its ID
      consumes: ["application/fhir+json"]
      produces: ["application/fhir+json"]
      description: |
        This is a FHIR read of a Quesitonnaire based on its ID
      operationId: PatientRead
      parameters:
        - description: The id of the FHIR resource
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Resource succesfully returned / No matches
          schema:
            type: object
        '400':
          description: Bad request
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '404':
          description: Resource Not Found
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '422':
          description: FHIR validation errors such as invalid code, wrong date format or violation of LOB defined business rules
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    put:
      summary: Update/replace a Patient resource
      description: |
        This interaction updates/replaces a Patient resource based on the submitted data/body
      operationId: PatientUpdate
      parameters:
        - description: The id of the Patient resource
          in: path
          name: id
          required: true
          type: string
        - description: The bundle contains a Patient to be updated
          in: body
          name: body
          required: true
          schema:
            title: FHIR Bundle with Patient resource
      responses:
        '200':
          description:   An update to an existing Patient bundle is submitted in order to invalidate an existing Patient. Returns the updated resource
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
          description: Indicates that the services has been temporarily taken down (on purpose)
          schema:
            type: object
        '504':
          description: Downstream system(s) did not return timely response
          schema:
            type: object
    patch:
      summary: "instance-patch: Patch a Patient ID"
      parameters:
      - name: id
        in: path
        description: The Patient Resource ID
        required: true
        minimum: 1
        type: string

      responses:
        "200":
          description: Success
          schema:
            type: object
        '400':
          description: Missing security token or bad request or operation contains incorrect header value for "Content-Type"
          schema:
            type: object
        '401':
          description: Failed authentication
          schema:
            type: object
        '403':
          description: Failed authorization
          schema:
            type: object
        '406':
          description: The Accept header requested a format that the server does not support
          schema:
            type: object
        '412':
          description: Resource already exists
          schema:
            type: object
        '422':
          description: Error, validation/business/semantically erroneous
          schema:
            type: object
        '429':
          description: Error, Too Many Requests
          schema:
            type: object
        '500':
          description: Error, Server internal error
          schema:
            type: object
        '503':
[...]
